body{
    background: lightgrey;
}

/* .carousel-parallax{
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.image1{
    background-image: url(./Images/paracat.jpg);
    height: 400px;
    width: 100%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2{
    background-image: url(./Images/image2para.jpg);
    height: 400px;
    width: 100%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#car-img{
    height: 800px;
    top: 0;
}

#nav{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#nav-buttons{
    margin-left: auto;
    padding-right: 25px;
    
}

#nav-button{
    margin-left: 10px;
}

#nav-name{
    color: white;  
    
}

#animate-name:hover{
    animation-name: hinge;
    -webkit-animation-name: hinge;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    cursor: wait;
}

#bio-pic{
    width: 200px;
    float: left;
    margin: 5px;
}

#bio-body{
    
    background: white;
    width: 75%;

}

#bio{
    margin-top: 10px;
}

#media{
    width: 75%;
    margin: 0 auto;
    z-index: 1000;
    
}


.card{
    display: inline-block;
    margin: 0 auto;
   
}

.card-text{
    text-align: center;
}

#port-box{
    
}

h3{
    margin-bottom: 40px;
}

#names-contact{
    margin-bottom: 20px;
}
.prof-image{
    float:left;
    width: 150px;
    margin-right: 15px;
    
    
    /* float: left; */
    /* height: 200;
    width: 200; */
}
/*=======================================MEDIA QUERY=================================*/
@media only screen and (max-width: 600px) {
    body{
        background: lightgrey;
    }
    
    .image1{
        background-image: url(./Images/paracat.jpg);
        height: 200px;
        width: 100%;
        background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .image2{
        background-image: url(./Images/image2para.jpg);
        height: 200px;
        width: 100%;
        background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    #car-img{
        height: 500px;
        top: 0;
    }
    
    #nav{
        position: absolute;
        width: 100%;
        z-index: 1000;
    }
    
    #nav-buttons{
        margin: 0 auto;
        justify-content: space-around;
       padding: 0px;
        
        
    }
    
    #nav-button{
        justify-content: space-around;
    }
    
    #nav-name{
        color: white;  
        
    }
    
    #animate-name{
        justify-content: space-around;
        margin: 0 auto;
    }
    #animate-name:active{
        animation-name: hinge;
        -webkit-animation-name: hinge;
        -webkit-animation-duration: 2.5s;
        animation-duration: 2.5s;
        cursor: wait;
    }
    
    #bio-pic{
        width: 200px;
        float: left;
        margin: 5px;
    }
    
    #bio-body{
        
        background: white;
        width: 75%;
    
    }
    
    #bio{
        margin-top: 10px;
    }
    
    #media{
        width: 75%;
        margin: 0 auto;
        z-index: 1000;
        
    }

    .card{
        display: inline-block;
        
       
    }
    
    .card-text{
        text-align: center;
    }
    
}