body{
    background: lightgrey;
}

#car-img{
    height: 500px;
    top: 0;
}

#nav{
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#nav-buttons{
    margin-left: auto;
    
}

#nav-button{
    margin-left: 10px;
}

#nav-name{
    color: white;
    
}

#bio-pic{
    width: 200px;
    float: left;
    margin: 5px;
}

#bio-body{
    
    background: white;
    width: 75%;

}

#bio{
    margin-top: 10px;
}

#media{
    width: 75%;
    margin: 0 auto;
    z-index: 1000;
}